# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch

# Idea
.idea/
*.iml
*.ipr
*.iws

# VS Code
.settings/
.vscode/
bin/
.classpath
.project

# MacOS
*.DS_Store

# Fabric
run/
remappedSrc/
src/main/resources_generated/

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
